// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

$color-text: #444444;
$color-lila-principal: #59003a;
$color-lila-guias: #732257;
$color-lila-fondo: #f2e0ec;
$color-buttons: #a6006c;
$white-color: #ffffff;
