// *----------------------------------*\
//  Settings > Type
// *----------------------------------*/

$font-principal: "Montserrat", sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-size-title: 60px;
$font-size-subtitle: 40px;
$font-size-link: 45px;
$font-size-text: 30px;
$font-size-small: 25px;
$font-size-tiny: 18px;
