* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

$color-text: #444444;
$color-lila-principal: #59003a;
$color-lila-guias: #732257;
$color-lila-fondo: #f2e0ec;
$color-buttons: #a6006c;

$height-navigator: 100px;

// transicion
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
// cerrando transicion

.app {
  width: 100%;
  height: auto;
}

.menu__mobile {
  display: none;
}
.menu__items__mobile {
  display: none;
}
// ANIMACION DE FLECHA GUIA

.guide__section {
  margin: 50px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .text__guide {
    text-align: center;
    font-size: 45px;
    color: $color-text;
    font-weight: 800;
    margin: 0 40px;
  }
  .arrow__guide {
    width: 90px;
    height: 90px;
    img {
      width: 100%;
      height: 100%;
      transform: rotate(-90deg);
    }
  }
}

// CERRANDO FLECHA GUIA

// PAGINA DE ERROR
.error {
  padding-top: 120px;
}
// CERRANDO PAGINA DE ERROR

// Navegador
.navigator {
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-shadow: rgb(136, 136, 136) 0px 2px 5px;
  z-index: 1000;
  position: fixed;

  img {
    width: 300px;
    height: auto;
  }
  .menu__desktop {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
  }
}

.navigator__item {
  text-decoration: none;
  &:hover .navigator__item--line {
    display: block;
  }
}

.navigator__item--group {
  color: $color-lila-principal;
  display: flex;

  p {
    padding-left: 5px;
  }
}

.navigator__item--line {
  color: $color-lila-principal;
  display: none;
  padding: 0;
  margin: 3px;
}

// Cerrando Navegador

// Social Bar
.socialbar {
  position: fixed;
  left: 5px;
  top: 150px;
  width: 40px;
  max-height: 230px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  &__icon {
    width: 40px;
    height: 40px;
    margin: 5px 0px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
// Cerrando social bar

// Home
.home {
  width: 100%;
  height: auto;
  padding-top: 80px;
  &__box {
    width: 100%;
    height: calc(100vh - 100px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    p {
      font-size: 60px;
      font-weight: 800;
      color: #444;
      text-align: center;
      padding-top: 40px;
    }
    a {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      display: block;
      padding-top: 40px;
    }

    .banner {
      position: relative;
      width: 100%;
      height: 500px;
      overflow: hidden;
      background: rgb(55, 55, 55);
      background: linear-gradient(
        90deg,
        rgba(55, 55, 55, 1) 12%,
        rgba(185, 185, 185, 1) 67%,
        rgba(97, 97, 97, 1) 94%
      );
      &--text {
        font-size: 60px;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 70px;
        left: 100px;
        text-align: left;
        width: 600px;
        z-index: 101;
      }
      img {
        position: absolute;
        width: auto;
        height: 380px;
        top: 50%;
        right: 20%;
        transform: translateY(-50%);
        z-index: 100;
      }
    }
  }

  &__container {
    padding-top: 1px;
    width: 90%;
    height: auto;
    margin: 0 auto;
    &__box {
      width: initial;
      min-height: 100px;
      background-color: $color-lila-fondo;
      height: auto;
      color: $color-text;
      padding: 5px 52px;
      margin-top: 50px;
      position: relative;
      &--title {
        font-weight: 800;
        font-size: 50px;
        position: absolute;
        top: -37px;
      }
      &--text {
        font-size: 30px;
        font-weight: 400;
        line-height: 50px;
        padding: 30px 20px 30px 20px;
      }
    }
  }
  .box__home {
    width: initial;
    display: flex;
    height: auto;
    margin: 60px 0px;
    padding: 0;
    .box__infohome {
      width: 55%;
      height: auto;
      padding: 0 40px;

      &--title {
        font-weight: 800;
        font-size: 40px;
        color: $color-text;
      }
      &--text {
        color: $color-text;
        font-size: 30px;
        font-weight: 400;
        line-height: 50px;
        padding-top: 25px;
      }
    }
    &--img {
      max-width: 45%;
      max-height: 300px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .box__curiosity {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
    &__a {
      width: 80%;
      height: auto;
      background-color: $color-lila-fondo;
      padding: 80px 0px;
      &--title {
        font-weight: 800;
        font-size: 60px;
        color: $color-text;
        padding-left: 280px;
      }
      &--text {
        padding: 0px 340px;
        padding-top: 20px;
        color: $color-text;
        font-size: 40px;
        font-weight: 500;
        line-height: 70px;
      }
    }
  }
}
// Cerrado Home

// NOSOTROS
.about {
  padding-top: 100px;
}
.valor__container {
  margin: 50px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $color-text;

  &__text {
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    padding: 30px 50px;
    text-align: justify;
  }

  &__box {
    max-width: 400px;
    height: auto;
    text-align: center;
    margin: 40px auto;
    &--title {
      font-weight: 800;
      font-size: 40px;
    }
    &--text {
      font-size: 30px;
      font-weight: 400;
      line-height: 50px;
      padding-top: 15px;
    }
  }
}

.group__section {
  width: 100%;
  min-height: 100px;
  height: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .worker__card {
    max-width: 380px;
    min-height: 200px;
    height: auto;
    box-shadow: 2px 2px 10px #cfcfcf;
    text-align: center;
    margin: 20px 0;
    color: $color-text;
    &--banner {
      width: 100%;
      height: 150px;
      background-color: $color-lila-guias;
      padding: 0;
    }
    &--avatar {
      width: 150px;
      height: 150px;
      background-color: #fff;
      margin: 0 auto;
      margin-top: -75px;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      img {
        width: 130px;
        height: auto;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &--name {
      margin-top: 15px;
      padding: 0 30px;
      font-weight: 500;
      font-size: 30px;
    }
    &--ocupation {
      padding: 5px 20px 30px 20px;
      color: #b1b1b1;
      font-size: 20px;
    }
    &--description {
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      padding-top: 15px;
      padding: 35px;
    }
  }
}
// CERRADO NOSOTROS

// SERVICIOS
.services {
  padding-top: 130px;
  width: 100%;
  height: auto;
}
.services__container {
  width: 90%;
  height: auto;
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 70px;
  &__services {
    width: 65%;
    height: auto;
    &--title {
      font-size: 40px;
      font-weight: 800;
      color: #444;
    }
    &--text {
      font-weight: 400;
      font-size: 25px;
      color: #444;
      line-height: 40px;
    }
  }
}
.form__section {
  width: 35%;
  min-width: 400px;
  height: auto;
  margin: 0;
  padding: 0;
  .close__form {
    display: none;
  }
  .form__contact {
    max-width: 400px;
    height: auto;
    background-color: #fff;
    box-shadow: 10px 10px 20px #dadada;
    border: 1px solid #ececec;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    margin: 0 auto;

    p {
      font-weight: 500;
      font-size: 25px;
      color: $color-text;
      padding-left: 10px;
    }
    &--input {
      width: 100%;
      font-weight: 400;
      height: 50px;
      border: 1px solid #cfcfcf;
      border-radius: 5px;
      margin: 20px auto;
      // padding: 0px 15px;
      font-size: 20px;
      box-sizing: border-box;
      padding: 0px 15px;
      color: #444;

      &::placeholder {
        font-size: 20px;
        color: #c2c2c2;
      }
    }
    &--textarea {
      width: 100%;
      font-weight: 400;
      font-family: "Montserrat";
      height: 150px;
      resize: none;
      border: 1px solid #cfcfcf;
      border-radius: 5px;
      margin: 20px auto;
      box-sizing: border-box;
      padding: 10px 15px;
      font-size: 20px;
      color: #444;
      &::placeholder {
        font-size: 20px;
        color: #c2c2c2;
      }
    }
    .button {
      width: 98%;
      height: 50px;
      border: 1px solid #cfcfcf;
      border-radius: 5px;
      margin: 20px auto;
      padding: 0;
      border: none;
      background-color: $color-buttons;
      font-weight: 500;
      color: #fff;
      font-size: 20px;
      box-shadow: 2px 2px 5px rgb(121, 121, 121);
      cursor: pointer;
      &:hover {
        background-color: rgb(141, 3, 93);
      }
      &:active {
        box-shadow: 1px 1px 3px rgb(121, 121, 121);
      }
    }
    .select {
      width: 94%;
      font-size: 20px;
      color: #c2c2c2;
      option {
        color: #444;
      }
    }
  }
}

.button__open__form {
  display: none;
}

.list__services {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}

.service__card {
  max-width: 400px;
  max-height: 200px;
  position: relative;
  margin: 20px 0px;
  margin-right: 40px;
  overflow: hidden;
  &--image {
    width: 100%;
    height: 100%;
    transform: translate(0, 0);
  }
  .service__card__box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    &--name {
      color: #fff;
      font-weight: 800;
      font-size: 20px;
      padding: 20px 75px 0 20px;
    }

    &--description {
      font-weight: 400;
      font-size: 16px;
      color: rgba($color: #fff, $alpha: 0);
      line-height: 23px;

      padding: 0px 20px 0 20px;
      transition: 0.5s;
    }
  }
  &:hover .service__card__box {
    height: 45%;
    transition: 0.5s;
  }
  &:hover .service__card__box--description {
    color: rgba($color: #fff, $alpha: 1);
  }
  &:hover .service__card__box--name {
    padding-top: 10px;
  }
}
// CERRANDO SERVICIOS

// SERVICIO
.service__info {
  padding-top: 130px;
  padding-bottom: 50px;
  width: 95%;
  height: auto;
  display: flex;
  margin: 0 auto;
  &__container {
    width: 65%;
    height: auto;
    padding: 0px 70px;
    &__pre {
      display: flex;
      i {
        font-size: 35px;
        color: $color-lila-principal;
      }
      &--category {
        padding: 5px 0 20px 20px;
        font-weight: 500;
        font-size: 25px;
        color: #444;
      }
    }
    &__content {
      &--banner {
        width: 100%;
        max-height: 300px;
        background-color: #333;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
        h1 {
          position: absolute;
          top: 50%;
          left: 50%;
          text-align: center;
          transform: translate(-50%, -50%);
          color: #fff;
        }
      }
      &--text {
        padding-top: 45px;
        font-weight: 400;
        font-size: 25px;
        color: #444;
        line-height: 40px;
        text-align: justify;
      }
    }
    &__file {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px 0px;
      margin: 30px 0px;
      text-decoration: none;
      cursor: pointer;
      &--button {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        padding: 0 20px;
        color: #732257;
        font-size: 55px;
        text-align: center;
      }
      &--text {
        font-weight: 500;
        font-size: 25px;
        padding: 0 15px;
        color: #444;
      }
    }
    &__links {
      width: 100%;
      color: $color-text;
      // color: #b1b1b1;
      font-size: 20px;
      padding-top: 20px;
      a {
        color: $color-lila-guias;
      }
    }
  }
}
// CERRANDO SERVICIO

// CONTACTO
.contacto {
  padding-top: 130px;
  width: 100%;
  height: auto;
  &__container {
    max-width: 1400px;
    margin: 0 auto;
    height: auto;
    &--title {
      font-weight: 800;
      font-size: 40px;
      color: #444444;
      text-align: center;
    }
    &__c {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
      &__card {
        width: 400px;
        max-height: 180px;
        height: 180px;
        box-shadow: 5px 5px 10px #c4c4c4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--icon {
          width: 70px;
          height: 70px;
          margin: 0 auto;
          text-align: center;
        }
        &--text {
          text-align: center;
          font-weight: 500;
          font-size: 23px;
          color: #444;
          padding: 0px 40px;
        }
      }
    }
    &--map {
      width: 100%;
      max-height: 400;
      padding-top: 80px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .home__box {
    .banner {
      img {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        filter: blur(3px);
      }
    }
  }
}

// CERRANDO CONTACTO
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .home,
  .service__info,
  .services,
  .contacto,
  .about {
    padding-top: 80px;
  }
  .mobile-none {
    display: none !important;
  }

  // NAVEGADOR
  .navigator {
    height: 80px;
    transition: 0.5s;
    overflow: hidden;
    .navigator__container__mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: auto;
    }
    .menu__desktop {
      display: none;
    }
    .menu__mobile {
      width: 100%;
      height: 80px;
      // display: flex;
      // justify-content: space-around;
      // align-items: center;
      display: grid;
      justify-items: center;
      grid-template-columns: 20% 80%;
      align-items: center;
      &__button {
        &--open {
          font-size: 40px;
          color: #59003a;
        }
        &--close {
          font-size: 40px;
          color: #59003a;
        }
      }
      img {
        width: 200px;
      }
    }
    .menu__items__mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      text-align: center;
      &--item {
        width: 100%;
        height: auto;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-weight: 600;
        margin: 0;
        background-color: rgb(255, 204, 204);
        padding: 20px 100%;
        border-bottom: 1px solid #333;
        .navigator__item--group {
          width: 100%;
          height: auto;
          p {
            width: 100%;
          }
        }
      }
    }
    .socialbar {
      position: initial;
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 50%;
      &__icon {
        width: 40px;
        height: 40px;
        margin: 5px 0px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  // CIERRE NAVEGADOR

  // HOME
  .home {
    &__box {
      .banner {
        p {
          width: 80%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 0;
          z-index: 1;
        }
        img {
          display: none;
        }
      }
    }
    &__container__box {
      width: 100%;
      margin: 50px auto 0 auto;
      padding: 0;
      &--title {
        position: unset;
        top: auto;
        padding: 20px 30px 0 30px;
        font-size: 40px;
      }
      &--text {
        padding: 30px;
        font-size: 23px;
        line-height: 35px;
      }
    }
    .box__curiosity__a {
      width: 100%;
      padding-left: 50px;
      padding-right: 50px;
      &--title {
        padding: 0;
        padding-bottom: 10px;
      }
      &--text {
        padding: 0;
      }
    }
    .box__home {
      width: 100%;
      flex-direction: column;
      margin: 40px 0;
      .box__infohome {
        width: 100%;
        padding: 0 !important;
        &--title {
          padding-left: 25px;
          font-size: 35px;
        }
        &--text {
          padding: 10px 25px;
          font-size: 23px;
          line-height: 35px;
        }
      }
    }
    .box__curiosity {
      padding-top: 20px;
      &__a {
        padding: 40px 50px;
        &--title {
          font-size: 50px;
        }
        &--text {
          font-size: 25px;
          line-height: 35px;
        }
      }
    }
  }

  // .guide__section .text__guide {
  //   width: 85%;
  //   font-size: 30px;
  // }

  // CIERRE HOME

  // NOSOTROS
  .about {
    width: 100%;
  }
  .valor__container {
    &__box {
      margin: 20px auto;
      &--title {
        font-size: 30px;
      }
      &--text {
        font-size: 18px;
        line-height: 25px;
      }
    }
    &__text {
      font-size: 18px;
      line-height: 25px;
      padding: 30px 10px;
    }
  }
  .group__section {
    flex-direction: column;
    align-items: center;
    .worker__card {
      margin-bottom: 20px;
    }
  }
  // CIERRE NOSOTROS

  //servicios
  .services {
    padding-top: 100px;
    position: relative;
    &__container {
      position: relative;
      width: 80%;
      &__services {
        width: 100%;
        &--title {
          text-align: center;
        }
        .list__services {
          justify-content: center;
          .service__card {
            margin-right: 0;
          }
        }
      }
    }
  }

  .form__section {
    display: none;
    position: fixed;
    width: 100%;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    min-width: 0;
    z-index: 110;
    background-color: #fff;
    .form__contact {
      max-width: 400px;
      box-shadow: none;
      border: none;
      height: calc(100vh - 180px);
      justify-content: space-around;
      p {
        margin: 0;
        padding: 0;
      }
      &--input {
        margin: 0 auto;
      }
      &--textarea {
        margin: 0 auto;
      }
      .button {
        width: 100%;
        margin: 0 auto;
      }
    }
    .close__form {
      display: block;
      font-size: 40px;
      color: #59003a;
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }
  .button__open__form {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 30px;
    color: #fff;
    background-color: #277ccc;
    box-shadow: 3px 3px 5px #333;
    position: fixed;
    right: 20px;
    // top: 100px;
    bottom: 20px;
    z-index: 100;
    &:active {
      box-shadow: 1px 1px 3px #333;
    }
  }

  // CIERRE SERVICIOS

  // SERVICIO
  .service__info {
    padding-top: 100px;
    &__container {
      width: 100%;
      padding: 0 30px;
      &__content {
        &--text {
          font-size: 23px;
          line-height: 35px;
        }
      }
      &__file {
        flex-wrap: wrap;
        &--button {
          padding: 10px 0;
        }
        &--text {
          text-align: center;
        }
      }
    }
  }

  .service__card__box {
    height: 45% !important;
    transition: 0.5s;
  }
  .service__card__box--description {
    color: rgba($color: #fff, $alpha: 1) !important;
  }
  .service__card__box--name {
    padding-top: 10px !important;
  }
  // CIERRE SERVICIO

  // CONTACTO
  .contacto {
    padding-top: 100px;
  }
  .contacto__container__c {
    flex-direction: column;

    &__card {
      width: 100%;
      margin: 10px 0;
    }
  }

  .contacto__container--map {
    padding-top: 20px;
  }
  // CIERRE CONTACTO
  .guide__section {
    .text__guide {
      font-size: 30px;
    }
  }
}
@media only screen and (max-width: 430px) {
  // HOME
  .home {
    .home__box {
      p {
        font-size: 40px;
      }
      .banner {
        height: 400px;
        background: #fff !important;

        p {
          font-size: 40px;
          text-align: center;
          color: #444;
        }
        img {
          display: none;
        }
      }
    }
    &__container {
      &__box {
        &--title {
          font-size: 30px;
        }
        &--text {
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
    .box__home {
      .box__infohome {
        &--title {
          font-size: 30px;
        }
        &--text {
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }
  // CIERRE HOME
  // NOSOTROS
  .large {
    font-size: 25px;
  }
  // CIERRE NOSOTROS
  // SERVICIOS
  .services {
    padding-top: 100px;
    &__container {
      width: 100%;
      &__services {
        &--title {
          font-size: 30px;
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }
  // CIERRE SERVICIOS

  // SERVICIO
  .service__info {
    &__container {
      padding: 0 10px;
      &__content {
        &--text {
          font-size: 20px;
          line-height: 30px;
          text-align: justify;
        }
      }
    }
  }
  .service__card {
    .service__card__box {
      height: 100% !important;
      transition: 0.5s;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .service__card__box--description {
      text-align: justify;
      font-size: 16px;
      color: rgba($color: #fff, $alpha: 1) !important;
    }
    .service__card__box--name {
      font-size: 18px;
      padding-top: 10px !important;
    }
  }
  // CIERRE SERVICIO

  // CONTACTO
  .contacto {
    padding-top: 100px;
    &__container {
      &--title {
        font-size: 30px;
      }
      &__c {
        &__card {
          &--text {
            font-size: 18px;
          }
        }
      }
    }
  }
  // CIERRE CONTACTO
}
